@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    @Html.Partial("~/Views/Shared/_HomeMenu.cshtml")
</div>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
